
.iconTile{
    padding: 20px;
    border-radius: 10px;    
    margin: 10px;
    border: 0.5px solid rgba(112, 128, 144, 0.178);
}

.iconTile span {
    margin: 10px;
    color: slategray;
}

.iconTile:hover {
    background-color: rgba(154, 202, 250, 0.377);
 
    cursor: pointer;
}


.icon {
    font-size: 100px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }


.modal-header {
    color: white;
    background-color: rgb(7, 31, 54);
}
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    position: relative;
    top: 7.5%;
    left: 7.5%;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 20px 25px -5px, rgba(0, 0, 0, 0.164) 0px 10px 10px -5px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
  }


  .form-requestForm > .form-group {
    margin: 10px;
  }

  .form-group label {
      margin-bottom: 5px;
  }


  tr > td{
      padding: 10px !important;
  }

  table {
    box-shadow: rgba(43, 43, 43, 0.2) 0px 2px 8px 0px;
  }
  
  thead tr {
    background: #102c44da;  /* fallback for old browsers */
      color: white !important;
      font-weight: 600;
      padding: 50px !important;
  }

  thead tr > th {
      padding-top: 20px !important;
      padding-bottom: 20px !important;
  }




  tbody > tr:nth-child(odd):hover {
    background-color: rgba(30, 143, 255, 0.185);
    cursor: pointer;
  }


  tbody > tr * {
      margin: 5px;
      padding: 10px;
  }

  tbody > * {
    box-shadow: rgba(43, 43, 43, 0.2) 0px 2px 8px 0px;

  }


  /* card stylings */


.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}


.card-header
{
      padding: 20px;
      background-color: rgba(9, 36, 77, 0.801);
      color: white;
      font-weight: 700;
}

.card-body {
 
    padding: 75px;

}

.card-footer {
    padding: 20px;
}

.hidden {
    display: none;
}

.active {
  animation-name: fadeIn;
  animation-duration: 2.5s;
  display: block;
}

.text-bold {
  font-weight: bolder;
}
ul > .list-group-item {
  margin: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.space-elements > * {
  margin: 5px;
}

.small-caption {
  color: slategray;
  font-style: italic;
}

/* shake animation  */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.apply-fade {
  animation: fadeIn 4s cubic-bezier(.36,.07,.19,.97) forwards;
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.StripeElement--invalid {
  border-color: #fa755a;
}
.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.StripePaymentButton {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}
  
  .StripePaymentButton:hover {
    background-color: #19da93;
  }


  /* ui gradients  */


  .icon-success {
    color: rgb(13, 155, 44);
    text-shadow: 0.5px 0.5px 0.5px rgb(61, 65, 43);
  }